.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.left {
  float: left;
}
.right {
  float : right;
}
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-centered {
  text-align: center;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.zero {
  margin: 0;
  padding: 0;
}
.list-nostyle {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
    list-style-image: none;
    margin-left: 0;
  }
}
.img-responsive {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}